.footer_top {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.flogo_text {
  color: #888888;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.fcol a:hover, .fcol a:focus {
  color: #80C342;
  text-decoration: none
}

.fcol.fcol1 {
  max-width: 18%
}

.ftitle {
  color: #151515;
  font-size: 17px;
  margin-bottom: 30px;
  display: table;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

.fmenu {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0
}

.fmenu li a {
  color: #555555;
  font-size: 17px
}

.fmenu li {
  margin-bottom: 10px
}

.footer_bottom {
  border-top: 1px solid #D1D1D1;
  padding: 16px 0 20px
}

footer {
  background: #F2F2F2
}
