.mb20 {
    margin-bottom: 20px
}

input, button, select, textarea {
    outline: none !important
}

.w100 {
    width: 100%
}

.white_logo {
    margin-bottom: 35px
}

.pt60 {
    padding-top: 60px
}

.flex {
    display: flex
}

.mb55 {
    margin-bottom: 55px
}

.al_start {
    align-items: flex-start
}

.just_flex {
    justify-content: space-between
}

.zagol {
    color: #151515;
    font-size: 34px;
    line-height: 1.1;
    font-family: 'Roboto', sans-serif;
}

.podzag {
    color: #888888;
    font-size: 15px;
    line-height: 1.2
}

.adm_buttons {
    gap: 20px
}

.just_end {
    justify-content: flex-end
}

.adm_buttons .green_btn {
    padding: 7px 60px;
    text-transform: none
}

.green_btn.active {
    color: #fff;
    background: #80C342
}

.search_field {
    border: 1px solid #CBCBCB;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0
}

.search_field input {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 8px;
    line-height: 1
}

.text_field {
    display: inline-flex;
    align-items: center
}

.text_field input {
    width: calc(100% - 33px)
}

.search_icon {
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center
}

.users_wrapper {
    background: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15)
}

.user_search {
    padding: 25px 40px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px
}

.green_btn.add_btns {
    text-transform: none;
    font-size: 12px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 8px
}

.add_btns:hover {
    background: #80C342 !important;
    opacity: .5;
    color: #fff !important
}

.green_btn.add_btns:hover {
    background: #80C342;
    opacity: .5;
    color: #fff !important
}

.user_sections {
    background: #E2E2E2;
    display: flex
}

.user_section {
    padding: 13px 37px;
    color: #151515;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    cursor: pointer;
    border: none;
    box-shadow: none;
    position: relative
}

.user_section.active, .user_section:hover {
    background: #80C342;
    color: #fff;
    text-decoration: none;
}

.user_section:before {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    height: 30px;
    width: 1px;
    background: #C0C0C0;
    transform: translateY(-50%)
}

.user_section:last-child:before, .user_section.active:before {
    display: none
}

.users_table thead {
    border-bottom: 1px solid #DADADA;
    text-transform: uppercase;
    color: #151515;
    font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.users_table table {
    width: 100%
}

.chech_td {
    width: 95px
}

.users_table thead td {
    padding: 25px 10px;
    line-height: 1.1
}

.users_table tbody td {
    padding: 15px 10px;
    line-height: 1.1;
    font-size: 14px
}

.users_table tbody tr {
    border-bottom: 1px solid #DADADA;
    transition: .5s;
}

.edit_row button {
    padding: 0;
    border: none;
    background: transparent
}

.edit_row {
    display: flex;
    gap: 25px
}

.fio_td {
    max-width: 145px;
}

.checkblock input {
    display: none
}

.checkmark {
    border: 2px solid #D5D5D5;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    display: flex;
    position: relative
}

.checkblock {
    margin-bottom: 0
}

.checkblock input:checked + .checkmark {
    background: #80C342;
    border-color: #80C342
}

.chech_td .checkblock {
    display: table;
    margin: auto
}

.users_table thead td .checkblock {
    vertical-align: sub;
    margin-left: 6px
}

.users_table thead .chech_td .checkblock {
    margin-left: auto
}

/*.checkmark:before {*/
/*    position: absolute;*/
/*    content: "";*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 90%;*/
/*    height: 90%;*/
/*    background: url(/images/icons/checkmark.svg) no-repeat;*/
/*    background-position: center;*/
/*    background-size: contain*/
/*}*/

.table_bottom {
    padding: 50px 0 55px;
    display: flex;
    justify-content: center
}

.user_quant {
    margin-left: auto;
    margin-right: 50px
}

.table_bottom .pagination {
    margin-left: auto;
    margin-right: auto
}

.user_quant .search_field {
    width: 85px;
    padding: 8px 13px;
    line-height: 1
}

.back_btn {
    color: #9E9E9E;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px
}

.back_wrapper {
    padding: 35px 0 16px;
    border-bottom: 1px solid #CCCCCC
}

.pt45 {
    padding-top: 45px
}

.pb75 {
    padding-bottom: 75px
}

.bordered_block {
    border: 1px solid #C6C6C6;
    padding: 45px 40px;
    min-height: 490px
}

.mini_zag {
    color: #151515;
    font-family: 'Roboto', sans-serif;
    line-height: 1
}

.create_form_fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}

.std_field {
    background: #F7F7F7;
    border: 1px solid #CECECE;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    padding: 10px 0 10px 14px;
    margin-bottom: 0;
    line-height: 1
}

.w50 {
    width: calc(50% - 8px)
}

.std_field input, .std_field select {
    background: transparent;
    border: none;
    width: calc(100% - 42px)
}

.std_field_icon {
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center
}

.std_field select {
    -webkit-appearance: none
}

.adm_buttons .green_btn.green_green:hover {
    color: #80C342 !important
}

.psih_table .school_td {
    max-width: 150px
}

.students_td, .reports_td {
    max-width: 85px;
}

.psih_information {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px
}

.psih_information .bordered_block:nth-child(3) {
    grid-area: 1 / 2 / 3 / 3
}

.mini_zag_text {
    color: #444444;
    font-size: 14px
}

.test_name {
    color: #444444;
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.3
}

.green_link {
    text-decoration-line: underline;
    color: #80C342
}

.test_item {
    padding: 25px 0;
    border-bottom: 1px solid #C6C6C6
}

.tests_list .test_item:first-child {
    padding-top: 0
}

.tests_list .test_item:last-child {
    padding-bottom: 0;
    border-bottom: none
}

.psih_information .green_btn {
    font-size: 12px;
    text-transform: none;
    padding: 8px 15px
}

.psih_information.kurat_information {
    align-items: flex-start
}

.rating_td {
    max-width: 200px
}

.modal-body > .close {
    opacity: 1;
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1
}

.results_modal .modal-content {
    background: #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 4px;
    height: 100%;
    padding: 40px 135px
}

.results_modal .modal-dialog {
    width: 1216px;
    max-width: 100%;
    height: 670px;
    max-height: 100%;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.results_modal.modal.fade .modal-dialog {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.results_modal .modal-body {
    overflow: auto;
    height: 100%;
    position: unset
}

.quest_num {
    color: #80C342;
    padding-bottom: 20px;
    border-bottom: 1px solid #BFBFBF;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px
}

.quest_title {
    letter-spacing: .01em;
    color: #151515;
    font-size: 12px;
    width: 100px;
  font-family: 'Roboto', sans-serif;
}

.quest_text {
    background: #EFEFEF;
    border: 1px solid #E2E2E2;
    color: #151515;
    font-size: 12px;
    padding: 15px 25px;
    width: calc(100% - 100px)
}

.al_center {
    align-items: center
}

.res_item .flex {
    margin-bottom: 20px
}

.quest_text p {
    margin-bottom: 0
}

.comments_modal .modal-dialog {
    width: 945px;
    max-width: 95%;
    height: 540px
}

.comments_modal .modal-content {
    height: 100%;
    box-shadow: none;
    border: none;
    border-radius: 0
}

.comments_modal .modal-body {
    height: 100%;
    padding: 60px 55px
}

.green_title {
    color: #80C342;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1
}

.mb60 {
    margin-bottom: 60px
}

.comt_title {
    letter-spacing: .01em;
    color: #444444;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 21%;
    padding-right: 65px
}

.comt_message textarea {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    padding: 17px 20px;
    height: 150px;
    width: 100%
}

.comt_message {
    width: 79%
}

.comm_bottom button {
    font-size: 12px;
    padding: 8px 13px;
    text-transform: none;
    display: flex;
    align-items: center;
    gap: 6px
}

.gray_btn {
    background: #868686;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    border: none;
    border: 2px solid #868686;
    line-height: 1
}

.comm_bottom {
    gap: 15px;
    padding-top: 35px;
    border-top: 1px solid #BFBFBF;
    margin-top: 55px
}

.psih_table .admin_name_td {
    max-width: 130px
}

.students_td2, .reports_td2 {
    max-width: 85px
}

.auto_height {
    height: auto;
    min-height: auto
}

.psih_information.colum2 {
    display: block;
    column-count: 2
}

.psih_information.colum2 .bordered_block {
    display: inline-table;
    width: 100%;
    margin-bottom: 30px
}

.title_right .green_btn {
    padding: 8px 17px;
    font-size: 12px;
    text-transform: none
}

.just_cont {
    justify-content: space-between
}

.modal_title {
    color: #151515;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.title_flex {
    padding-bottom: 30px;
    border-bottom: 1px solid #C6C6C6
}

.classes_grid {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    margin: 0 -34px
}

.classes_grid .class_item {
    padding: 20px 34px;
    border-bottom: 1px solid #C6C6C6;
    position: relative
}

.class_item:before {
    position: absolute;
    content: "";
    right: 0;
    width: 1px;
    height: calc(100% - 40px);
    background: #C6C6C6;
    top: 50%;
    transform: translateY(-50%)
}

.classes_grid_wrapper {
    overflow: hidden;
    margin-bottom: 27px
}

.class_modal .modal-dialog {
    height: auto
}

.comments_modal .modal-body .pagination {
    display: flex;
    justify-content: center
}

.zagol.f24 {
    font-size: 24px
}

.pt55 {
    padding-top: 55px
}

.mini_btns .green_btn, .mini_btns .gray_btn {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 10px 30px;
    line-height: 1
}

.mini_btns {
    gap: 12px
}

.right_end {
    margin-left: auto
}

.lang_block {
    background: #80C342;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: .01em;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: none;
    height: 100%;
    min-width: 62px
}

.border_bottom {
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 15px;
}

.lined.border_bottom:before {
    bottom: -2px
}

.flex_field_label {
    letter-spacing: .01em;
    color: #151515;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    width: 25%;
    padding-top: 15px;
    padding-right: 30px
}

.white_field_wrap input, .white_field_wrap textarea, .white_field_wrap select {
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    width: 100%;
    font-size: 12px;
    padding: 15px 20px;
    line-height: 1.1;
    color: #151515
}

.flex_field {
    display: flex;
    align-items: flex-start
}

.white_field_wrap {
    width: 75%;
    font-weight: normal
}

.white_field_wrap textarea {
    height: 150px
}

.white_field_wrap input::placeholder, .white_field_wrap textarea::placeholder {
    color: #9A9A9A
}

.w70 {
    width: 80%;
}

.file_field_wrap input {
    background: transparent;
    border: none;
    color: transparent;
    width: auto;
    max-width: 160px
}

.file_field_wrap {
    background: #EFEFEF;
    border: 1px solid #E2E2E2;
    display: flex;
    align-items: center
}

.file_text {
    color: #666666;
    font-size: 13px;
    min-width: 25%;
    text-transform: uppercase;
    padding-left: 25px;
    font-family: 'Roboto', sans-serif;
    overflow: auto
}

.blockcontent.active {
    display: block
}

.blockcontent {
    display: none
}

.white_field_wrap .num_input {
    width: 70px;
    padding-right: 5px;
    padding-left: 10px;
    text-align: center
}

.number_field span {
    color: #151515;
    font-size: 12px;
    margin-left: 17px
}

.create_form_fields.gap0 {
    gap: 0
}

label {
    font-weight: normal;
    margin-bottom: 0
}

.radio_checkmark {
    position: absolute;
    left: 0;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #CCCCCC
}

.radio_wrap {
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer
}

.radio_value {
    color: #151515;
    font-size: 14px
}

.radio_btns {
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}

.radio_wrap input:checked + .radio_checkmark {
    border-color: #80C342
}

.radio_checkmark:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #80C342;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0
}

.radio_wrap input:checked + .radio_checkmark:before {
    opacity: 1
}

.pt0 {
    padding-top: 0
}

.add_btn {
    background: #EFEFEF;
    border: 1px solid #E2E2E2;
    width: 100%;
    color: #80C342;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    line-height: 1;
    gap: 8px;
    cursor: pointer
}

.quest_delete {
    letter-spacing: .01em;
    color: #C01A1A;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    gap: 7px
}

.question_zag {
    border-bottom: 1px solid #BFBFBF;
    padding: 0 0 15px;
    margin-bottom: 20px
}

.ques_num {
    color: #151515;
  font-family: 'Roboto', sans-serif;
}

.question_section {
    margin-top: 75px
}

.create_form_fields .question_section:first-child {
    margin-top: 0
}

.add_question {
    margin-top: 50px;
    position: relative
}

.question_types {
    position: absolute;
    background: #FFFFFF;
    filter: drop-shadow(0px 4px 15px rgb(0 0 0 / 25%));
    padding: 15px 50px;
    right: -70px;
    bottom: 30px;
    display: none;
    gap: 10px
}

.quest_type {
    color: #151515;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    cursor: pointer
}

.question_types:before {
    position: absolute;
    content: "";
    left: -9px;
    bottom: -9px;
    width: 26px;
    height: 25px;
    /*background: url(/images/icons/triangle.svg)*/
}

.quest_type:hover {
    text-decoration-line: underline;
    color: #80C342
}

.add_question.active {
    color: #fff;
    background: #80C342;
    border-color: #80C342
}

.add_question.active path {
    fill: #fff
}

.users_table a {
    color: #151515
}

.res_page .res_item {
    margin-top: 45px
}

.res_page .quest_num {
    color: #151515
}

.res_page .res_item:first-child {
    margin-top: 0
}

.black_text {
    color: #151515
}

.bordered_block2 {
    padding: 45px 70px
}

.link_item.active rect {
    stroke: #80C342
}

.webinar_wrapper {
    position: relative
}

.abs {
    position: absolute
}

.right_end.abs {
    right: 0;
    top: 0;
    height: 53px
}

.mt40 {
    margin-top: 40px
}

.add_btn.green_green {
    background: #80C342;
    border-color: #80C342;
    color: #fff
}

.add_btn.green_green path {
    fill: #fff
}

.acc_col {
    padding: 25px;
    width: calc(27% - 16px);
    min-height: 230px
}

.acc_col1 {
    background: #E4EFDB;
    width: calc(46% - 32px);
    display: flex;
    align-items: flex-start;
    gap: 24px
}

.acc_col2 {
    background: #F3F3F3
}

.acc_col3 {
    background: #E7EAEA
}

.acc_title {
    color: #151515;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.gray_par {
    color: #95A984
}

.info_line {
    margin-bottom: 7px
}

.acc_photo {
    border: 1px solid #AEC49D;
    width: 112px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%
}

.acc_info {
    height: 100%;
    max-width: calc(100% - 136px);
    display: flex;
    flex-direction: column
}

.acc_col .green_link {
    margin-top: auto
}

.acc_col2, .acc_col3 {
    display: flex;
    flex-direction: column
}

.acc_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover
}


.white_select {
    border: 1px solid #D8D8D8;
    padding: 14px
}

.sort_filters {
    gap: 20px
}

.pb0 {
    padding-bottom: 0
}

.passw_wrap .green_link {
    margin-top: 15px;
    display: table
}

.pt70 {
    padding-top: 70px
}

.pb70 {
    padding-bottom: 70px
}

.notif_side {
    border: 1px solid #C6C6C6;
    border-radius: 10px;
    padding: 0 20px 40px;
    display: flex;
    flex-direction: column;
    height: 100%
}

.notif_page {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 32px
}

.notif_head {
    padding: 20px 0 13px;
    border-bottom: 1px solid #CECECE
}

.notif_side.notif_side_right {
    padding-top: 23px
}

.notif_body {
    padding-top: 32px
}

.notif_param {
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
    cursor: pointer;
    line-height: 1.1
}

.notif_param_text {
    color: #151515;
    font-size: 14px
}

.checkbox_checkmark {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E1E1E1
}

.notif_param input[type="checkbox"] {
    display: none
}

.notif_param input:checked + .checkbox_checkmark {
    background: #80C342;
    border-color: #80C342
}

.checkbox_checkmark:before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11px;
    height: 10px;
    /*background: url(/images/icons/check.svg) no-repeat;*/
    background-size: contain;
    background-position: center;
    opacity: 0
}

.notif_param input:checked + .checkbox_checkmark:before {
    opacity: 1
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 18px
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E1E1E1;
    -webkit-transition: .4s;
    transition: .4s
}

.switch_slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 0;
    top: 50%;
    transform: translate(0px, -50%);
    background-color: #959595;
    -webkit-transition: .4s;
    transition: .4s
}

input:checked + .switch_slider {
    background-color: #E1E1E1
}

input:focus + .switch_slider {
    box-shadow: 0 0 1px #2196F3
}

input:checked + .switch_slider:before {
    -webkit-transform: translate(24px, -50%);
    -ms-transform: translate(24px, -50%);
    transform: translate(24px, -50%);
    background: #80C342
}

.switch_slider.round {
    border-radius: 60px
}

.switch_slider.round:before {
    border-radius: 50%
}

.notif_wrap {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #151515;
    font-family: 'Roboto', sans-serif;
}

.mini_podzag {
    color: #151515;
    line-height: 1.1;
    font-size: 12px;
    margin-top: 10px
}

.w80 {
    width: 80%
}

.notif_side .std_field {
    border-radius: 4px
}

.notif_side .notif_wrap {
    margin-top: auto
}

.mb25 {
    margin-bottom: 25px
}

.std_field.mb40 {
    margin-bottom: 40px
}

.green_btn.black_black {
    background: #151515;
    color: #fff;
    border-color: #151515
}

.green_btn.black_black:hover, .green_btn.black_black:focus {
    background: transparent;
    color: #151515 !important
}

.pb60 {
    padding-bottom: 60px
}

.f24 {
    font-size: 24px
}

.border_top {
    border-top: 1px solid #BABABA
}

.hidden_materials {
    display: none
}

.pt65 {
    padding-top: 65px
}

.pt110 {
    padding-top: 110px
}

.pb110 {
    padding-bottom: 110px
}

.test_page {
    background: #F3F3F3;
    min-height: 615px;
    display: flex;
    align-items: center;
    padding: 85px
}

.btns_flex {
    display: flex;
    gap: 22px
}

.btns_flex .green_btn {
    padding: 12px 35px;
    text-transform: none;
    min-width: 175px
}

.test_descr {
    color: #666666;
    font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.title.testname {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    font-size: 35px
}

.test_step {
    display: none
}

.var_li {
    position: relative;
    padding-left: 35px;
    display: table;
    margin-bottom: 17px;
    line-height: 1;
    cursor: pointer
}

.var_li input {
    display: none
}

.var_li .radio_checkmark {
    border: 2px solid #151515;
    width: 22px;
    height: 22px;
    top: -3px
}

.var_text {
    color: #151515;
    font-size: 18px
}

.variants_list {
    margin-top: 32px;
    margin-bottom: 44px
}

.gray {
    color: #666666
}

.var_li input:checked + .radio_checkmark {
    border-color: #80c342;
    background: #80c342
}

.test_begin {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex
}

.test_step {
    width: 75%
}

.btns_flex.centered {
    justify-content: center
}

.test_step.test_begin {
    width: 100%
}

.text_flex {
    display: flex;
    justify-content: space-between
}

.text_flex .text_side {
    align-self: center;
    width: calc(55% - 85px)
}

.image_block {
    position: relative;
    width: 45%
}

.start_date {
    position: absolute;
    top: 45px;
    left: 0;
    background: #80C342;
    color: #FFFFFF;
    font-size: 23px;
    padding: 6px 26px;
    font-family: 'Roboto', sans-serif;
}

.text_flex .text_side .title {
    margin-bottom: 15px;
    text-transform: none;
    line-height: 1.1
}

.image_block img {
    width: 100%;
    border-radius: 30px
}

.noupper {
    text-transform: none
}

.goals_list {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 32px
}

.goal_head {
    display: flex;
    align-items: center;
    color: #151515;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 17px
}

.goal_head span {
    max-width: calc(100% - 55px)
}

.goal_head img {
    margin-right: 15px
}

.goals_item {
    font-size: 18px;
    line-height: 1.4
}

.pb80 {
    padding-bottom: 80px
}

.pt90 {
    padding-top: 90px
}

a:focus {
    outline: none !important
}

.sert_slider .slick-slide.slick-current {
    transform: scale(1.1) translateX(-27px);
    z-index: 1;
    position: relative
}

.sert_slider .slick-slide {
    transform: scale(0.9);
    transition: .5s;
    margin: 0 -15px
}

.sert_slider .slick-slide img {
    width: 100%;
    border-radius: 0
}

.sert_slider .slick-list {
    padding: 21px 0;
    margin: 0 15px
}

.text_flex2 .text_side {
    width: calc(50% - 65px)
}

.text_flex2 .image_block {
    width: 50%
}

.timer {
    width: 58%;
    margin: 0;
    cursor: default
}

.days, .hours, .minutes, .seconds {
    font-size: 52px;
    margin: 0 auto;
    color: #fff;
    background: #80c342b3;
    width: 111px;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.uncorrectDays, .uncorrectHours, .uncorrectMinutes, .uncorrectSeconds {
    font-size: 20px;
    color: #D5EDBE;
    text-transform: lowercase;
    background: #80c342b3;
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px
}

.days-block, .hours-block, .minutes-block, .seconds-block {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}

.timer-section {
    display: inline-block;
    padding: 0 27px;
    position: relative
}

.timer-text {
    display: block;
    font-size: 12px
}

.timer-section:first-child {
    padding-left: 0
}

.ws-button {
    background: #50CA5E;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 17px;
    display: table;
    margin: 70px auto 0;
    transition: .5s;
    border: 2px solid #50CA5E
}

.ws-button:hover, .ws-button:focus {
    color: #50CA5E;
    background: transparent;
    text-decoration: none
}

.timer_block {
    /*background: url(/images/timer_back.jpg) no-repeat;*/
    background-size: cover;
    background-position: center;
    padding: 128px 0;
    position: relative
}

.timer_wrapper {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 60px 0;
    padding: 73px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    justify-content: space-between
}

.timer-section:last-child {
    padding-right: 0
}

.timer-section:after {
    content: ":";
    position: absolute;
    top: 0;
    right: -10px;
    color: #A2C284;
    font-size: 60px
}

.timer-section:last-child:after {
    display: none
}

.timer_block:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 37, 37, 0.5)
}

.timer_text {
    width: calc(42% - 58px)
}

.timer_text .title {
    margin-bottom: 15px
}

.timer_descr {
    color: #E7E7E7;
    font-size: 18px
}

.timer_text .green_btn {
    padding: 13px 37px
}

.records_list .doc_link {
    color: #151515;
    gap: 7px
}

.records_list .doc_name {
    margin-bottom: 25px;
    line-height: 1.1
}

.appoin_img {
    max-width: 100%
}

.appoin_modal .modal-dialog {
    width: 946px;
    max-width: 100%
}

.appoin_modal .modal-content {
    border-radius: 0;
    border: none
}

.comm_bottom.noborder {
    border: none;
    padding-top: 0;
    margin-top: 0
}

.appoin_modal .modal-body {
    display: flex;
    padding: 65px;
    align-items: center;
    gap: 45px
}

a.info_line, .info_line a {
    color: #666666;
    transition: .5s
}

a.info_line:hover, .info_line a:hover {
    color: #80C342
}

.green_link:hover {
    color: #80C342
}

.td_flex {
    display: flex;
    align-items: center
}

.students_td2 .td_flex > span, .reports_td2 .td_flex > span {
    width: min-content
}

.users_table tbody tr:hover {
    background: #F4F4F4;
}

.users_table tbody tr:hover td {
    color: #80c342;
}

.users_table tbody tr td {
    transition: .5s;
}

/*@charset "UTF-8";*/
/*@font-face {*/
/*    font-family: "IBMPlexSans-Regular";*/
/*    src: url(/fonts/IBMPlexSans-Regular.ttf) format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: normal*/
/*}*/

/*@font-face {*/
/*    font-family: "IBMPlexSans-Medium";*/
/*    src: url(/fonts/IBMPlexSans-Medium.ttf) format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: 500*/
/*}*/

/*@font-face {*/
/*    font-family: "IBMPlexSans-SemiBold";*/
/*    src: url(/fonts/IBMPlexSans-SemiBold.ttf) format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: 600*/
/*}*/

/*@font-face {*/
/*    font-family: "IBMPlexSans-Bold";*/
/*    src: url(/fonts/IBMPlexSans-Bold.ttf) format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: 700*/
/*}*/

/*@font-face {*/
/*    font-family: "IBMPlexSans-Light";*/
/*    src: url(/fonts/IBMPlexSans-Light.ttf) format("truetype");*/
/*    font-style: normal;*/
/*    font-weight: 300*/
/*}*/

::-webkit-scrollbar-track {
    background-color: #ffffff
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-thumb {
    background-color: #80C342
}

body {
    font-size: 16px;
    color: #666666;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1246px) {
    .container {
        width: 1246px
    }
}

.logo {
    display: flex;
    align-items: flex-end;
    line-height: 1.3
}


.hotline {
    display: flex;
    align-items: flex-start;
    gap: 10px
}

.hotline_info a {
    display: table;
    color: #151515;
    font-size: 16px;
    transition: .5s
}

.bold {
  font-family: 'Roboto', sans-serif;
}

.eyes {
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #666666;
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    width: 30%;
    gap: 10px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    transition: .5s
}

.green_btn {
    text-align: center;
    letter-spacing: .02em;
    text-transform: uppercase;
    color: #80C342;
    border: 2px solid #80C342;
    padding: 11px 60px;
    display: table;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    background: transparent;
    cursor: pointer;
}

.green_btn_admin {
    margin-top: 20px;
    text-align: center;
    letter-spacing: .02em;
    color: #80C342;
    border: 2px solid #80C342;
    padding: 8px 30px;
    display: table;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    background: transparent;
    cursor: pointer;
}


.green_btn_form1 {
    margin-top: 20px;
    text-align: center;
    letter-spacing: .02em;
    color: #fff;
    border: 2px solid #80C342;
    padding: 8px 30px;
    display: table;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
    background: transparent;
    cursor: pointer;
}



.hamburger {
    display: flex;
    padding: 0
}

.head_top {
    background: #fff;
    padding: 18px 0
}

.hotline {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #B5B5B5;
    margin-right: 29px;
    line-height: 1.2
}

.hotline_info {
    text-transform: uppercase;
    color: #151515;
    font-size: 14px
}

.openMenu {
    margin-right: 45px
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: #FFFFFF;
    width: 23px;
    height: 3px;
    border-radius: 0
}

.hamburger-inner:before {
    top: -8px
}

.hamburger-inner:after {
    bottom: -8px
}

.mainslider .slick-slide {
    width: 100%;
    height: calc(100vh - 166px)
}

.mainslider .slick-slide > div {
    height: 100%
}

.slide_item {
    height: 100%;
    position: relative
}

.slide_wrapper {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 1
}

.slide_item:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.5)
}

.maintitle {
    color: #FFFFFF;
    font-size: 61px;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 1.1;
    width: 50%;
  font-family: 'Roboto', sans-serif;
}

.podtext {
    color: #D8D8D8;
    font-size: 20px;
    line-height: 1.3;
    width: 45%
}

.mainslider .slick-dots {
    bottom: 30px
}

.mainslider.slick-dotted.slick-slider {
    margin-bottom: 0
}

.slick-dots li button {
    background: #C4C4C4;
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.slick-dots li.slick-active button:before {
    display: none
}

.slick-dots li {
    width: 10px;
    height: 10px
}

.slick-dots li.slick-active {
    width: 14px;
    height: 14px
}

.slick-dots li.slick-active button {
    width: 14px;
    height: 14px;
    background: #80C342
}

.pt100 {
    padding-top: 100px
}

.infoblock {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.textside {
    width: calc(54% - 100px)
}

.imgside {
    width: 46%;
    position: relative
}

.imgside img {
    padding-left: 145px;
    width: 100%
}

.title {
    text-transform: uppercase;
    color: #151515;
    font-size: 34px;
    line-height: 1.2;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

.lined {
    position: relative;
    padding-bottom: 20px
}

.mb30 {
    margin-bottom: 30px
}

.lined:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #80C342;
    width: 48px;
    height: 3px;
    transition: .5s
}

.imgside:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 260px;
    height: 260px;
    /*background: url(/images/lines.svg) no-repeat;*/
    background-size: contain;
    z-index: -1
}

.centered {
    text-align: center;
    margin-right: auto;
    margin-left: auto
}

.mb50 {
    margin-bottom: 50px
}

.centered.lined:before {
    left: 50%;
    transform: translateX(-50%)
}

.direct_grid {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 32px
}

.direct_item img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.direct_item {
    position: relative;
    height: 410px;
    border-radius: 2px 2px 0 0;
    overflow: hidden
}

.direct_name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.white {
    color: #fff
}

.direct_item:before {
    background: #323232;
    opacity: .4;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.pb100 {
    padding-bottom: 100px
}

.hotline_block {
    /*background: url(/images/hotline_back.jpg) no-repeat;*/
    background-size: cover;
    background-position: center;
    padding: 110px 0 100px;
    position: relative
}

.hotline_block:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.5)
}

.green_btn.green_green {
    background: #80C342;
    color: #fff
}

.hotline_text {
    position: relative;
    z-index: 1
}

.hotline_text .title {
    width: 28%
}

.mb40 {
    margin-bottom: 40px
}

.lined.white_line:before {
    background: #fff
}

.hotline_number {
    margin-bottom: 40px;
    display: flex;
    font-size: 28px;
    line-height: 1;
    gap: 14px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: .5s;
}

.gray_back {
    background: #ECECEC;
    margin-top: 65px
}

.text_block .textside {
    margin: 80px 0;
    position: relative;
    padding-left: 100px;
    width: calc(60% - 140px)
}

.text_block {
    display: flex;
    justify-content: space-between
}

.imagside img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.text_block .textside:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    /*background: url(/images/lines2.svg) no-repeat;*/
    background-size: contain;
    background-position: center
}

.text_block .imagside {
    transform: translateY(-65px);
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%
}

.block3 {
    position: relative
}

.copy {
    color: #151515
}

.button_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 60px 0
}

.head_btn {
    background: rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 9px 32px;
    display: table;
    transition: .5s
}

.head_btn.active, .head_btn:hover {
    background: #80C342;
    text-decoration: none;
    color: #fff
}

.double_block {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 32px
}

.text_column1 {
    position: relative;
    padding-top: 100px
}

.text_column img {
    margin-bottom: 35px;
    width: 100%;
    height: 277px;
    object-fit: cover
}

.text_column1:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /*background: url(/images/hor_line.svg) no-repeat;*/
    background-size: contain;
    background-position: center
}

.document_item {
    border: 1px solid #D8D8D8;
    padding: 38px 30px
}

.date {
    color: #888888
}

.doc_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6px
}

.doc_top_right {
    color: #888888;
    display: flex;
    justify-content: flex-end;
    gap: 22px
}

.doc_name {
    color: #151515;
    font-size: 20px;
    margin-bottom: 34px;
  font-family: 'Roboto', sans-serif;
}

.doc_link {
    text-decoration-line: underline;
    color: #80C342;
    display: flex;
    align-items: center;
    gap: 17px;
    transition: .5s
}

.document_list {
    display: grid;
    gap: 30px
}

.pt80 {
    padding-top: 80px
}

.pb90 {
    padding-bottom: 90px
}

.materials_list {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 55px 32px
}

.material_item img {
    width: 100%;
    height: 356px;
    object-fit: cover;
    margin-bottom: 30px
}

.mini_title {
    color: #151515;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 14px;
    line-height: 1.1
}

.mater_preview {
    margin-bottom: 30px
}

.pagination_wrap {
    margin-top: 85px;
    display: flex;
    align-items: center;
    justify-content: center
}

.pagination > li > a, .pagination > li > span {
    border-radius: 0 !important;
    width: 33px;
    height: 33px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 1;
    color: #666666;
  font-family: 'Roboto', sans-serif;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #80C342;
    border-color: #80C342
}

.pt50 {
    padding-top: 50px
}

.pb50 {
    padding-bottom: 50px
}

.contacts_page {
    padding: 0 63px
}

.cont_map img, .cont_map iframe {
    width: 100%;
    height: 100%
}

.cont_map {
    height: 487px
}

.cont_row {
    justify-content: space-between;
    display: flex
}

.cont_col {
    border: 1px solid #CFCFCF;
    border-radius: 4px;
    padding: 35px 60px 35px 30px
}

.c_info {
    display: flex;
    align-items: flex-start;
    gap: 9px
}

.ctitle {
    color: #151515;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px
}

.cval {
    color: #151515;
    font-family: 'Roboto', sans-serif;
    max-width: calc(100% - 35px)
}

.cont_col1 .cval {
    text-transform: uppercase
}

.cval a {
    color: #151515;
    display: table;
    transition: .5s
}

.cont_col.cont_col1 {
    max-width: 36%
}

.logo:hover, .logo:focus {
    text-decoration: none
}

.eyes:hover {
    color: #80C342;
    text-decoration: none
}

.hotline_info a:hover, .hotline_info a:focus {
    color: #80C342;
    text-decoration: none
}

.green_btn:hover, .green_btn:focus {
    background: #80C342;
    color: #fff !important;
    text-decoration: none
}

.hamburger-box {
    width: 23px;
    height: 27px
}

.menu li a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #fff;
    transition: .5s
}

.menu li a:hover::before {
    width: 100%
}

.menu li a:hover {
    text-decoration: none
}

.direct_item:hover .direct_name:before {
    width: 100px
}

.green_btn.green_green:hover, .green_btn.green_green:focus {
    color: #80C342 !IMPORTANT;
    background: transparent
}

.fcol a {
    transition: .5s
}

.doc_link:hover, .doc_link:focus {
    color: #80C342;
    opacity: .5
}

.cval a:hover, .cval a:focus {
    color: #80C342;
    text-decoration: none
}

.mm-wrapper_opened .hamburger--spin .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transform: rotate(225deg)
}

.mm-wrapper_opened .hamburger--spin .hamburger-inner:before {
    top: 0;
    transition: top .1s ease-out, opacity .1s ease-out .12s;
    opacity: 0
}

.mm-wrapper_opened .hamburger--spin .hamburger-inner:after {
    bottom: 0;
    transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
    transform: rotate(-90deg)
}

.pagination {
    margin: 0;
}

.hotline_number:hover {
    color: #80c342;
    text-decoration: none;
}