.post {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 5px 5px RGB(0 0 0 / 0.02);
}

.row {
  display: grid;
  grid-template-columns: 300px auto;

  & > div {
    padding: 5px 10px;
  }

  & > div:not(:last-child) {
    border-right: 1px solid #ccc;
  }
}

.row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
}


.buttonCenter {
  text-align: center;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #80C342;
  border: 2px solid #80C342;
  padding: 11px 60px;
  display: table;
  line-height: 1;
  font-family: 'Roboto', sans-serif;

  transition: .5s;
  background: transparent;
  cursor: pointer;
  width: 100%;

  &:hover, &:focus {
    background: #80C342;
    color: #fff !important;
    text-decoration: none;
  }
}