@import "../helium/helium";

@mixin main {
  @include helium;
  @include responsive-table;
}

@mixin responsive-table($primary-stylename: v-table) {
  .level-low {
    background-color: green;
    color: black;
  }

  .background-green {
    background-color:olivedrab;

  }
.btn-green {
  transition: 0.2s ease-in;
}
  .btn-green:hover {
    background-color: #567d04;
  }

  input:focus {
    outline: none;
    border-color: #567d04;
  }

  .border-green {
    border: 1px solid olivedrab;
    outline: none;
  }

  .level-medium {
    background-color: yellow;
    color: black;
  }

  .level-high {
    background-color: red;
    color: black;
  }

  .#{$primary-stylename} {
    .#{$primary-stylename}-row,
    .#{$primary-stylename}-row-odd {
      &.level-high{
        background-color: red;
        color: black;

        .jmix-grouptable-group-cell-expander:before {
          color: white;
        }
      }
    }

    .#{$primary-stylename}-row,
    .#{$primary-stylename}-row-odd {
      &.level-low {
        background-color: green;
        color: black;

        .jmix-grouptable-group-cell-expander:before {
          color: white;
        }
      }
    }

    .#{$primary-stylename}-row,
    .#{$primary-stylename}-row-odd {
      &.level-medium {
        background-color: yellow;
        color: black;

        .jmix-grouptable-group-cell-expander:before {
          color: white;
        }
      }
    }
  }
}